<header class="header">
    <div class="container">
        <div class="header-inner">
            <a href="#" class="header-logo">
                <img src="assets/" alt="header logo">
            </a>
            <nav class="mi-navigation">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>